<h1>Welcome to my logbook!</h1>
<p>This logbook contains the record of progress for my final year project. 
The entries are signed by my supervisor. </p>

<br />
<p>For any further questions, please contact me at <span>anumqudsia@hotmail.com</span>.</p>


The heavy load of number calculations.  Especially when calculating in percentages. Rounding the numbers. Calculating the percentage. Filling the other half of the matrix.

