@font-face {
  src: url('/assets/Oranienbaum/Oranienbaum.ttf');
  src: local('?'), url('/assets/Oranienbaum/Oranienbaum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body
{

	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 200;
	background-color: #737817;

}

#masthead
{	
	margin-top: 20px;
	border-right: 4px solid black;
	border-left: 1px solid Black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 30px;
	padding-right: 10px;

	width: 670px;	
	text-align: center;
	height: 70px;
	background-color: #D5DC4D;
}
#navigation
{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 140px;	
	height: 500px auto;
	margin-top: 10px;
	margin-bottom: 10px;

	border-right: 4px solid LightGrey;
	background-color: none;
	-moz-border-radius: 15px;
    border-radius: 15px;
	background-color: #F3F5CC;
}
#comment { font-size: 13px; padding-left: 20px; padding-right: 20px; margin-bottom: 10px; border-right: 4px solid LightGrey; border-left: 1px solid LightGrey;
	-moz-border-radius: 15px;
    border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 1px solid LightGrey;
	border-bottom: 1px solid LightGrey;
	background-color: #F3F5CC;
	
}
#container
{
	border-right: 4px solid Black;
	border-left: 1px solid Black;
	border-top: 1px solid Black;
	border-bottom: 1px solid Black;
	-moz-border-radius: 15px;
border-radius: 15px;
	
	width: 700px;
	padding-left: 15px;
	margin: 10px auto;
	background-color: white;
}

#pic 
{ background-color: ; width: 80px; position: absolute; padding-top: 22px; }

#masthead h1 { margin-top: 30px; }

#mast-right
{	
	background-color: ;
	margin-top: -50px;
	margin-right: 0px;
	margin-left: auto;
	text-align: right;
	width: 150px;
}




#navigation h3 { margin-left: 10px; }

#navigation p { margin-left: 15px; }


#content
{
	min-height: 400px;

	float: left;
	width: 490px;
    height: 500px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
    padding-right: 10px;
	padding-left: 10px;
	-moz-border-radius: 15px;
    border-radius: 15px;

}

#content p { font-size: 15px; }

#content span { text-decoration: underline; color: blue;}

#footer
{

	text-align: center;
	clear: both;
	width: 680px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 2px solid LightGrey;
	background-color: ;

}


#masthead h1
{

	color: black;

}

#content h1,h2,h3,h4,h5,h6
{

	color: Black;

}


#content img
{

	padding: 5px;

	border: 1px solid Black;

}



#footer p
{

	color: Black;

	margin-top: 5px;

}


#footer a
{

	color: Black;

	text-decoration: underline;

}

#footer a:hover
{

	color: White;
	text-decoration: none;
	background-color: Black;

}

#flash 
{
	width: 680px;
	border-top: 2px solid ForestGreen;
	border-right: 2px solid ForestGreen;
	border-bottom: 2px solid ForestGreen;
	border-left: 2px solid ForestGreen;
	margin-top: 10px;
	background-color: #C3DE63;
		-moz-border-radius: 5px;
    border-radius: 5px;
	font-size: 16px;
}

.notice
{
	margin-top: 4px;
	padding-left: 50px;
	margin-bottom: 4px;
}

.notice p
{
	
	background-color: red;
}

.alert
{
	margin-top: 4px;
	padding-left: 50px;
	margin-bottom: 4px;
}
.alert p
{
	
	background-color: blue;
}

#font-change
{ font-size: 16px; }

#logtitle { font-weight: bold;  padding: 10px 10px 10px 10px; 
	margin-top: 10px;
	background-color: ;
	border-bottom: 1px solid black;
}
.title { font-size: 24px;}
.date { background-color: ; float: right; margin-top: -30px; font-size: 22px;}

#border { border-bottom: 1px solid LightGrey; }
#log { margin-left: 10px; margin-right: 10px; padding-right: 10px; padding-left: 10px;
	padding-right: 10px 10px 10px 10px; background-color: ;	
}

/* Button */

.log-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #86ae47;
}.log-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.log-button:active {
	position:relative;
	top:1px;
}


/* Table CSS */
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#E4F0B8;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #B3D539 5%, #B3D539 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B3D539), color-stop(1, #B3D539) );
	background:-moz-linear-gradient( center top, #B3D539 5%, #B3D539 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#B3D539", endColorstr="#B3D539");	background: -o-linear-gradient(top,#B3D539,B3D539);

	background-color:#B3D539;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #B3D539 5%, #B3D539 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B3D539), 
	color-stop(1, #B3D539) );
	background:-moz-linear-gradient( center top, #B3D539 5%, #B3D539 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#B3D539", endColorstr="#B3D539");	background: -o-linear-gradient(top,#B3D539,B3D539);

	background-color:#B3D539;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}